<h3>Add New Students</h3>

{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if }}

<form action="/adduser" method="post">
    
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name">
    </div>

     <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" name="age">
    </div>

     <div class="form-group">
        <label for="city">City:</label>
        <input type="text" name="city">
    </div>

    <div class="form-group">
        <button type="submit">Save</button>        
        <a href="/">view all</a>
    </div>


</form>